.jumbotron {
  padding-top: 0rem;
  background-color: #75757550;
}

#projects {
  background-color: #75757550;
}

section {
  padding-top: 0rem;
}

.name-container {
  padding-top: 6rem;
}

html {
  scroll-padding-top: 75px;
}
